RewriteEngine On
RewriteBase /Eval_U2A_szaboTomasverenaGrecia/

# If the requested file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, route all requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]